[submodule "include/csv_reader"]
	path = include/csv_reader
	url = https://gitlab.com/douglasrizzo/csv_reader.git
[submodule "include/mersenne_twister"]
	path = include/mersenne_twister
	url = https://gitlab.com/douglasrizzo/mersenne_twister.git
